################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/Matematics/FileContentIndex
/Expansions/bin/Debug
/Expansions/obj/Debug/.NETFramework,Version=v4.5.2.AssemblyAttributes.cs
/Expansions/obj/Debug/_IsIncrementalBuild
/Expansions/obj/Debug/Extension.csproj.FileListAbsolute.txt
/Expansions/obj/Debug/Extension.csproj.CoreCompileInputs.cache
/Expansions/obj/Debug/Extension.csproj.AssemblyReference.cache
/Expansions/obj/Debug/Expansions.pdb
/Expansions/obj/Debug/Expansions.dll
/Expansions/obj/Debug/Expansions.csproj.AssemblyReference.cache
/ElectricalEngineeringLibrary/bin/Debug
/ElectricalEngineeringLibrary/obj/Debug
/Machine Lerning/obj/Debug
/NeuralNetworks/bin/Debug
/NeuralNetworks/obj/Debug
/Numerics/bin/Debug
/Numerics/obj/Debug
/Numerics.Tests/bin/Debug
/Numerics.Tests/obj/Debug
/TestApp/obj/Debug
/.vs/Matematics/v17
