<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="3.8.0" targetFramework="net452" />
  <package id="Accord.Genetic" version="3.8.0" targetFramework="net452" />
  <package id="Accord.Math" version="3.8.0" targetFramework="net452" />
  <package id="Accord.Neuro" version="3.8.0" targetFramework="net452" />
  <package id="AForge" version="2.2.5" targetFramework="net452" />
  <package id="AForge.Genetic" version="2.2.5" targetFramework="net452" />
  <package id="AForge.Math" version="2.2.5" targetFramework="net452" />
  <package id="AForge.Neuro" version="2.2.5" targetFramework="net452" />
  <package id="JoBeland.Logging" version="1.0.0.0" targetFramework="net452" />
  <package id="log4net" version="2.0.8" targetFramework="net452" />
  <package id="NeuralNetwork" version="7.4.0" targetFramework="net452" />
  <package id="NeuralNetwork.GeneticAlgorithm" version="2.4.0" targetFramework="net452" />
  <package id="NeuralNetworks" version="1.0.3" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net452" />
  <package id="portable.accord.core" version="3.0.2.60302" targetFramework="net452" />
  <package id="portable.accord.math" version="3.0.2.60302" targetFramework="net452" />
  <package id="portable.accord.neuro" version="3.0.2.60302" targetFramework="net452" />
  <package id="portable.accord.statistics" version="3.0.2.60302" targetFramework="net452" />
  <package id="portable.aforge.core" version="2.2.5.60302" targetFramework="net452" />
  <package id="portable.aforge.genetic" version="2.2.5.60302" targetFramework="net452" />
  <package id="portable.aforge.math" version="2.2.5.60302" targetFramework="net452" />
  <package id="portable.aforge.neuro" version="2.2.5.60302" targetFramework="net452" />
  <package id="shim" version="2.0.1" targetFramework="net452" />
</packages>